body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:940px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:930px;
  height:40px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:930px;
  height:40px;
}
#u1 {
  position:absolute;
  left:2px;
  top:12px;
  width:926px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:10px;
  top:53px;
  width:120px;
  height:530px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:530px;
}
#u3 {
  position:absolute;
  left:2px;
  top:257px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:129px;
  top:53px;
  width:811px;
  height:40px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:811px;
  height:40px;
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:807px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:166px;
  top:68px;
  width:27px;
  height:16px;
  text-decoration:underline;
  color:#0099FF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:140px;
  top:65px;
  width:23px;
  height:23px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u9 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:40px;
  top:16px;
  width:145px;
  height:28px;
  color:#CCCCCC;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:28px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:806px;
  top:17px;
  width:100px;
  height:24px;
  font-size:20px;
  color:#CCCCCC;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:24px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:911px;
  top:24px;
  width:15px;
  height:15px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u15 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:140px;
  top:103px;
  width:581px;
  height:87px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:581px;
  height:87px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:581px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:24px;
  top:100px;
  width:105px;
  height:85px;
}
#u18_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u20 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u20_img.selected {
}
#u20.selected {
}
#u21 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u23 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u19_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u25 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u26 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:20px;
  top:40px;
  width:80px;
  height:20px;
}
#u28 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u29 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:20px;
  top:60px;
  width:80px;
  height:20px;
}
#u31 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u32 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:24px;
  top:190px;
  width:105px;
  height:65px;
}
#u33_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u35 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u35_img.selected {
}
#u35.selected {
}
#u36 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u38 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u34_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u39 {
  position:absolute;
  left:20px;
  top:20px;
  width:67px;
  height:20px;
}
#u40 {
  position:absolute;
  left:22px;
  top:0px;
  width:45px;
  height:20px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
}
#u41 {
  position:absolute;
  left:3px;
  top:2px;
  width:40px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:20px;
  top:40px;
  width:80px;
  height:20px;
}
#u43 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u44 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:24px;
  top:260px;
  width:105px;
  height:85px;
}
#u45_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u47 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u47_img.selected {
}
#u47.selected {
}
#u48 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u50 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u46_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u51 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u52 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u53 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:20px;
  top:40px;
  width:80px;
  height:20px;
}
#u55 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u56 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:20px;
  top:60px;
  width:80px;
  height:20px;
}
#u58 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u59 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:193px;
  top:136px;
  width:20px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
