body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:940px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:153px;
  top:129px;
  width:787px;
  height:221px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:787px;
  height:221px;
}
#u1 {
  position:absolute;
  left:2px;
  top:102px;
  width:783px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:310px;
  top:158px;
  width:109px;
  height:22px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2_input:disabled {
  color:grayText;
}
#u3 {
  position:absolute;
  left:10px;
  top:10px;
  width:930px;
  height:40px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:930px;
  height:40px;
}
#u4 {
  position:absolute;
  left:2px;
  top:12px;
  width:926px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:10px;
  top:53px;
  width:120px;
  height:530px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:530px;
}
#u6 {
  position:absolute;
  left:2px;
  top:257px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:24px;
  top:100px;
  width:100px;
  height:85px;
}
#u7_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u9 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u9_img.selected {
}
#u9.selected {
}
#u10 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u12 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u8_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13 {
  position:absolute;
  left:20px;
  top:20px;
  width:54px;
  height:20px;
}
#u14 {
  position:absolute;
  left:22px;
  top:0px;
  width:32px;
  height:20px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:20px;
}
#u15 {
  position:absolute;
  left:3px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:20px;
  top:40px;
  width:75px;
  height:20px;
}
#u17 {
  position:absolute;
  left:22px;
  top:0px;
  width:53px;
  height:20px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
}
#u18 {
  position:absolute;
  left:3px;
  top:2px;
  width:48px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:20px;
  top:60px;
  width:75px;
  height:20px;
}
#u20 {
  position:absolute;
  left:22px;
  top:0px;
  width:53px;
  height:20px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
}
#u21 {
  position:absolute;
  left:3px;
  top:2px;
  width:48px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:24px;
  top:200px;
  width:100px;
  height:85px;
}
#u22_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:20px;
}
#u24 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u24_img.selected {
}
#u24.selected {
}
#u25 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:22px;
  top:0px;
  width:45px;
  height:20px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
}
#u27 {
  position:absolute;
  left:3px;
  top:2px;
  width:40px;
  white-space:nowrap;
}
#u23_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28 {
  position:absolute;
  left:20px;
  top:20px;
  width:75px;
  height:20px;
}
#u29 {
  position:absolute;
  left:22px;
  top:0px;
  width:53px;
  height:20px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
}
#u30 {
  position:absolute;
  left:3px;
  top:2px;
  width:48px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:20px;
  top:40px;
  width:75px;
  height:20px;
}
#u32 {
  position:absolute;
  left:22px;
  top:0px;
  width:53px;
  height:20px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
}
#u33 {
  position:absolute;
  left:3px;
  top:2px;
  width:48px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:20px;
  top:60px;
  width:75px;
  height:20px;
}
#u35 {
  position:absolute;
  left:22px;
  top:0px;
  width:53px;
  height:20px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
}
#u36 {
  position:absolute;
  left:3px;
  top:2px;
  width:48px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:129px;
  top:53px;
  width:811px;
  height:30px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:811px;
  height:30px;
}
#u38 {
  position:absolute;
  left:2px;
  top:7px;
  width:807px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:166px;
  top:59px;
  width:27px;
  height:16px;
  text-decoration:underline;
  color:#0099FF;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:140px;
  top:56px;
  width:23px;
  height:23px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u42 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:40px;
  top:16px;
  width:145px;
  height:28px;
  color:#CCCCCC;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:28px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:806px;
  top:17px;
  width:100px;
  height:24px;
  font-size:20px;
  color:#CCCCCC;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:24px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:911px;
  top:25px;
  width:10px;
  height:10px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u48 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:203px;
  top:57px;
  width:10px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:19px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:220px;
  top:59px;
  width:27px;
  height:16px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:153px;
  top:97px;
  width:53px;
  height:16px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:252px;
  top:56px;
  width:10px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:19px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:267px;
  top:58px;
  width:53px;
  height:16px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:286px;
  top:158px;
  width:14px;
  height:16px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:438px;
  top:161px;
  width:14px;
  height:16px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:454px;
  top:158px;
  width:109px;
  height:22px;
}
#u63_input {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u63_input:disabled {
  color:grayText;
}
#u64 {
  position:absolute;
  left:575px;
  top:160px;
  width:37px;
  height:16px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:611px;
  top:157px;
  width:109px;
  height:22px;
}
#u66_input {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u66_input:disabled {
  color:grayText;
}
#u67 {
  position:absolute;
  left:161px;
  top:113px;
  width:92px;
  height:16px;
  color:#CCCCCC;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:164px;
  top:136px;
  width:83px;
  height:16px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:16px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:206px;
  top:159px;
  width:70px;
  height:16px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u73 {
  position:absolute;
  left:206px;
  top:188px;
  width:70px;
  height:16px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:286px;
  top:187px;
  width:226px;
  height:25px;
}
#u75_input {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u76 {
  position:absolute;
  left:522px;
  top:191px;
  width:57px;
  height:16px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u78 {
  position:absolute;
  left:587px;
  top:188px;
  width:73px;
  height:22px;
}
#u78_input {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u78_input:disabled {
  color:grayText;
}
#u79 {
  position:absolute;
  left:219px;
  top:218px;
  width:57px;
  height:16px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u81 {
  position:absolute;
  left:286px;
  top:216px;
  width:104px;
  height:25px;
}
#u81_input {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u82 {
  position:absolute;
  left:403px;
  top:220px;
  width:57px;
  height:16px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u84 {
  position:absolute;
  left:460px;
  top:216px;
  width:104px;
  height:25px;
}
#u84_input {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u85 {
  position:absolute;
  left:574px;
  top:220px;
  width:83px;
  height:16px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:16px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u87 {
  position:absolute;
  left:657px;
  top:216px;
  width:104px;
  height:25px;
}
#u87_input {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u88 {
  position:absolute;
  left:219px;
  top:252px;
  width:57px;
  height:16px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u90 {
  position:absolute;
  left:286px;
  top:250px;
  width:104px;
  height:25px;
}
#u90_input {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u91 {
  position:absolute;
  left:403px;
  top:254px;
  width:57px;
  height:16px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u93 {
  position:absolute;
  left:460px;
  top:251px;
  width:73px;
  height:22px;
}
#u93_input {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u93_input:disabled {
  color:grayText;
}
#u94 {
  position:absolute;
  left:600px;
  top:251px;
  width:57px;
  height:16px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u96 {
  position:absolute;
  left:657px;
  top:249px;
  width:73px;
  height:22px;
}
#u96_input {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u96_input:disabled {
  color:grayText;
}
#u97 {
  position:absolute;
  left:219px;
  top:310px;
  width:57px;
  height:16px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u99 {
  position:absolute;
  left:193px;
  top:278px;
  width:83px;
  height:16px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:16px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u101 {
  position:absolute;
  left:286px;
  top:278px;
  width:73px;
  height:22px;
}
#u101_input {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u101_input:disabled {
  color:grayText;
}
#u102 {
  position:absolute;
  left:403px;
  top:280px;
  width:57px;
  height:16px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u104 {
  position:absolute;
  left:460px;
  top:278px;
  width:119px;
  height:25px;
}
#u104_input {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u105 {
  position:absolute;
  left:286px;
  top:306px;
  width:444px;
  height:25px;
}
#u105_input {
  position:absolute;
  left:0px;
  top:0px;
  width:444px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u106 {
  position:absolute;
  left:164px;
  top:364px;
  width:57px;
  height:16px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u108 {
  position:absolute;
  left:153px;
  top:390px;
  width:787px;
  height:100px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:787px;
  height:100px;
}
#u109 {
  position:absolute;
  left:2px;
  top:42px;
  width:783px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:164px;
  top:396px;
  width:757px;
  height:34px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:757px;
  height:34px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:757px;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:164px;
  top:504px;
  width:57px;
  height:16px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u114 {
  position:absolute;
  left:153px;
  top:530px;
  width:787px;
  height:100px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:787px;
  height:100px;
}
#u115 {
  position:absolute;
  left:2px;
  top:42px;
  width:783px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:164px;
  top:536px;
  width:757px;
  height:34px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:757px;
  height:34px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:757px;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:164px;
  top:650px;
  width:57px;
  height:16px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u120 {
  position:absolute;
  left:153px;
  top:676px;
  width:787px;
  height:184px;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:787px;
  height:184px;
}
#u121 {
  position:absolute;
  left:2px;
  top:84px;
  width:783px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:164px;
  top:682px;
  width:757px;
  height:118px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:757px;
  height:118px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:757px;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:142px;
  top:1075px;
  width:226px;
  height:25px;
}
#u124_input {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u125 {
  position:absolute;
  left:378px;
  top:1075px;
  width:71px;
  height:25px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:25px;
}
#u126 {
  position:absolute;
  left:2px;
  top:4px;
  width:67px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:162px;
  top:1110px;
  width:57px;
  height:16px;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u129 {
  position:absolute;
  left:142px;
  top:1131px;
  width:798px;
  height:126px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:798px;
  height:126px;
}
#u130 {
  position:absolute;
  left:2px;
  top:55px;
  width:794px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:168px;
  top:1149px;
  width:746px;
  height:84px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:746px;
  height:84px;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:746px;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:153px;
  top:884px;
  width:193px;
  height:126px;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:126px;
}
#u134 {
  position:absolute;
  left:2px;
  top:55px;
  width:189px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:153px;
  top:1033px;
  width:768px;
  height:32px;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:32px;
}
#u136 {
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:153px;
  top:1017px;
  width:31px;
  height:16px;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
}
#u138 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u139 {
  position:absolute;
  left:840px;
  top:1280px;
  width:100px;
  height:30px;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u140 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u141 {
  position:absolute;
  left:164px;
  top:1314px;
  width:79px;
  height:16px;
  color:#FF0000;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u142 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u143 {
  position:absolute;
  left:479px;
  top:1360px;
  width:100px;
  height:30px;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u144 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
